<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
  </head>
  <body>
      <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<table id="table"></table>
<script>
  


// $.get('http://127.0.0.1:8000/jsondata',function(data){
  // $.getJSON("D:/repo/Python_training/django_table/static/tableData.json",function(data){
  
  // console.log(data)
  
  
  $('#table').bootstrapTable({
 

            url: 'http://127.0.0.1:8000/jsondata',
            
            method : 'get', // 请求方式（*）post/get
            // contentType: "application/x-www-form-urlencoded",//post请求的话就加上这个句话
            // dataType: "json",
            // toolbar : '#toolbar', // 工具按钮用哪个容器
            // striped : true, // 是否显示行间隔色
            // cache : false, // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            // pagination : true, // 是否显示分页（*）
            // sortable : true, // 是否启用排序
            // sortOrder : "asc", // 排序方式
            // // queryParams : oTableInit.queryParams,// 传递参数（*）
            // // sidePagination : "client", // 分页方式：client客户端分页，server服务端分页（*）
            // pageNumber : 1, // 初始化加载第一页，默认第一页
            // pageSize : 10, // 每页的记录行数（*）
            // pageList : [ 10, 25, 50, 100 ], // 可供选择的每页的行数（*）
            // search : false, // 是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch : true,
            // showColumns : false, // 是否显示所有的列
            // showRefresh : false, // 是否显示刷新按钮
            // minimumCountColumns :2, // 最少允许的列数
            // clickToSelect : true, // 是否启用点击选中行
            // height : "",// 行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            // // uniqueId : "ID", // 每一行的唯一标识，一般为主键列
            // showToggle : false, // 是否显示详细视图和列表视图的切换按钮
            // cardView : false, // 是否显示详细视图
            // detailView : false, // 是否显示父子表
            // locale: "zh-CN", //中文支持

//  data:data,
            columns: [{
            
                field: '电影名称',
            
                title: '电影名称'
            
            }, {
            
                field: "地区",
            
                title: "地区"
            
            }, {
            
                field: "片长",
            
                title: "片长"
            
            },{
            
            field: "日期",
            
            title: "日期"
            
            },{
            
            field: "票房",
            
            title: "票房"
            
            },{
            
            field: "场次",
            
            title: "场次"
            
            },{
            
            field: "人次",
            
            title: "人次"
            
            }, ]
            
            });
// })
    
</script>

  




      
      
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  </body>